@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-4rem);
  }
  80% {
    transform: translateY(1.5rem) scale(1.2);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes glow {
  0% {
    text-shadow: 0 0 20px #63e0ee;
  }
  100% {
    text-shadow: 0 0 30px #e3e8e9, 0 0 10px #b2e9f0;
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(8rem);
  }
  80% {
    transform: translateX(-1.5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-8rem);
  }
  80% {
    transform: translateX(1.5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
