.header {
  padding: 7rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba(65, 103, 139, 0.8),
      rgba(18, 41, 44, 0.8)
    ),
    url(../../img/coin.jpg);
  background-size: cover;

  &__navigation {
    @include clearfix;
    float: right;
    margin-top: 3rem;
    margin-right: 3rem;
  }
}
